

.cardRuta{
   width:100%;
   height:150px;
   margin-bottom: 10px;
   background-color:rgb(155, 155, 155);
   border-radius:10px;
}

.mapText{
   text-align:center;
}


.UrbvanLogo{
   width:10%;
   height: 10%;
}